[TOC](../toc.ipynb)

Jupyter Lab
===========

![roadmap](https://drive.google.com/uc?id=15S6Sxv3kGygykkez1Tn1ICTXaBA7Tz3p)

Goals today:

-   Explore Jupyter Lab
-   Practice some Markdown
-   Practice making and using functions
-   Practice printing formatted strings

There are two kinds of cells in Jupyter notebooks: Markdown and Code.

If you have this cell selected you can either press shift-enter to go to the next cell, or the down arrow key.

## Markdown

Markdown is a lightweight markup language for text that is meant for humans to read. Select this cell and either double-click on it, or press Enter to see the source.

Double click on this cell to see how to make:

1.  A
2.  Numbered
3.  List
   1. sublists are indented

You can also make bulleted lists:

-   A
-   bulleted
-   list
    -   Including
        -   different
        -   levels

Text that is **bold**, *italics*, <del>crossed-out</del>. Some <font color="red">red text</font>.

Math is written in LaTeX format ([https://en.wikibooks.org/wiki/LaTeX/Mathematics](https://en.wikibooks.org/wiki/LaTeX/Mathematics)). Here are a few examples:

-   this fraction $\frac{1}{2}$,
-   square root $\sqrt{3}$
-   sum $\sum_{i=1}^{10} t_i$
-   A chemical formula: H$_2$O
-   An integral $\int_a^b f(x)dx$

---

You can see more details at [https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

---

You do not need to learn all of these right now. It will be useful to pay attention to what is in the notes. It will help you express your ideas more clearly.

Try it here. Double click on this cell and add some text.

### Headings and subheadings

It can be helpful to organize your notebook into sections. You can use headings and subheadings to make logical sections. This makes it easier to read. Double click on the headings to see the syntax for making a heading.

Headings are lines that start with one or more #. The number of # determines the level of the heading. 

Checkout the Table of Contents on the left.

#### Subsubheadings

### Keyboard shortcuts

You can do most things by clicking in cells and typing, or clicking on the menus. Eventually, you may want to learn some keyboard shortcuts to speed up your work.

<div class="alert alert-warning">
You can access a list of keyboard shortcuts in the following ways:

From the menus:
Settings -> Advanced Settings Editor
</div>

You do not need to learn these if you don't want to; you can always use the mouse and menus.

In [ ]:
2 + 4

In [ ]:
3 + 5

3 + 4

## Running code

Jupyter notebooks serve two purposes:

1.  To document your work
2.  To run code

It is important to have a basic understanding of how the notebooks work. The browser displays the notebook. The actual computations are run on a server on your computer. When you "run" a code cell, the code is sent to the server, and the server sends the results back to the browser where they are rendered.

When you first open a notebook, *nothing* has been executed. If you try to execute cells out of order, you will get errors if anything in the cell depends on a previous cell. You should run the cells in order. Here are some ways to do that.

1.  Starting in the first cell, click the Kernel menu and Restart Kernel and Run all button .
2.  Starting in the first cell, type shift-Enter to run each cell and move to the next one.

Occasionally, you may want to restart the server and rerun all the cells. Select the menu: Kernel -> Restart Kernel. If you run cells out of order, or something seems messed up for some reason, sometimes this fixes it. It also makes sure the output of each cell is consistent with running them in order from scratch.

These cells are used to show what happens when you run things out of order.

In [ ]:
a = 5

In [ ]:
b = a + 1
b

In [ ]:
a = 3

### Debugging/getting help

See the Help menu to access general documentation about the notebook and the main libraries we will be using. I would get familiar with their contents, but I would not try to read them all at once.

In [ ]:
print(a + 3)

While debugging a cell, you should use the run button in the cell or  C-Enter to run the cell so that you see the output, but your cursor stays in the cell so you can continue editing it. To go back to editing the cell, just press Enter. It is good practice to run cells whenever you think they should work correctly, because it is easier to debug the last few lines you wrote than a long block of lines. Let's work an example.

Create a code cell that defines two variables $x=5$ and $y=4$, and then compute $x^2 + y^2$.

In [2]:
x = 5
y = 4
x**2 + y**2

In [3]:
x = 5
y = 4.0

x**2 + y**2

In [ ]:
1 / 3

In [ ]:
1 // 3  # // is the integer division

When you are happy with the cell and its output, you can insert a new cell above or below it by typing:

- Esc a for above
- Esc b for below


Alternatively, in the cell, type shift-enter to execute it one more time, and then move to the next cell (adds a new cell if you are at the end).

There are some other options, you can click the insert cell buttons in the cell menu, or Ctrl-shift-c to get the command window where you can type "insert cell" to select the command.

Jupyter notebooks can act in unexpected ways if you evaluate the cells out of order. It can be very difficult to debug this. When that happens, you are often best off if you restart the kernel and execute the cells from the beginning.

In [ ]:
a = 4

In [ ]:
a += 1  # this increments the value of a by one.  equivalent to a = a + 1

In [ ]:
print(a)

## Functions

Functions are an important part of any programming language. They allow you to reuse code, and make programs more readable.

### Minimal definition of a function with one input

Functions are defined with the `def` keyword. You specify a name, and the arguments in parentheses, and end the line with a colon. The body of the function must be indented (conventionally by 4 spaces). The function ends when the indentation goes back down one level. You have to define what is returned from the function using the `return` keyword.

Here is a minimal function definition that simply multiplies the input by two and returns it.

In [ ]:
# minimal function template
def function_name(optional_arguments):
    "optional docstring"
    body
    return value


print(function_name())
# This is not part of the function

In [ ]:
def f(x):
    "compute 2*x"
    y = x * 2
    return y

In [ ]:
?f

Let's evaluate our function with a few values:

In [ ]:
# Try an integer, float, string, a list, an array (don't forget to import numpy first)
f(3)

In [ ]:
f(4.0)

In [ ]:
f("CMU")

In [ ]:
a = [2, 3, 5.0]
f(a)

In [ ]:
import numpy as np

b = np.array([2, 3, 5.0])
f(b)

In [ ]:
help(f)

In [ ]:
# You can have multiple returns in a function, but only one of them returns.
def f1(x):
    if x > 5:
        return True
    else:
        return False


f1(-6)

In [2]:
4.11**2  # The extra 0's are from float math

In [ ]:
16.8921**0.5

Python uses "duck-typing" to figure out what multiply by two means. Many languages use types to figure this out, e.g. adding two integers is not the same as adding two strings. Python is more flexible, and will allow things to work if they are like each other in the right way. 

That can lead to some surprising results when you use data types that were not intended for your function.

Minimal is not always the most informative. You can add an optional documentation string like this.

In [ ]:
def f(x):
    """Optional, multiline documentation string
    x should be a number. It is still not an error to use a string or array.
    """
    y = x + 2
    return y

The input argument `x` is mandatory here, and has no default value.

Try this function with and without arguments here. Add a code cell to do that.

In [ ]:
?f

In [ ]:
f()  # This is an error because x is required

### Functions with multiple arguments

Suppose you want a function where you can multiply the argument by a user-specified value, that defaults to 2. We can define a function with two arguments, where one is optional with a default value. The optional argument is sometimes called a parameter.

In [ ]:
def f(x, a=2):
    # The next string is a one line documentation string. The comment here will
    # not be visible in the help.
    "Return a * x. a is optional with default value of 2."
    y = x * a
    return y

Now, there are several ways to evaluate this function. If you just provide the value of `x`, then the default value of `a` will be used.

In [ ]:
f(2)  # x = 2, since a is not provided, the default a=2 is used

Here we use the position of each argument to define the arguments as x=2 and a=3.

In [ ]:
f(2, 3)  # x=2, a=3

We can be very clear about the second value by defining it as a keyword argument:

In [ ]:
f(2, a=4)

Note, however, that since the first argument has no default value, it is called a positional argument, and so in this case you must *always* define the first argument as the value of x. This will be an error:

In [ ]:
f(a=4, 2)

You cannot put positional arguments after keyword arguments. This is ok, since every argument is defined by a keyword. This allows you to specify arguments in the order you want, and when there are lots of arguments makes it easier to remember what each one is for.

In [ ]:
f(a=4, x=2)

You should be careful about when and where you define variables. In most programming languages, there is a concept of *variable scope*, that is where is the variable defined, and what value does it have there. Here, `a` is defined outside the function, so the function inherits the value of `a` when it is defined. If you change `a`, you change the function. That can be confusing.

In [ ]:
a = 3


def f(x):
    y = a * x
    return y


f(2)

In [ ]:
a = 2  # changing the global value of a changes the function.
f(2)

However, you can "shadow" a variable. In this example, we use an internal definition of `a` in the function, which replaces the external value of `a` *only inside the function*.

In [ ]:
a = 2


def f(x):
    a = 3  # This only changes a inside the function
    y = a * x
    return y


f(2)

The global value of `a` is unchanged.

In [ ]:
a

A similar behavior is observed with arguments. Here the argument `a` will shadow (redefine) the global value of `a`, but only inside the function.

In [ ]:
def f(x, a):
    y = a * x
    return y


f(2, a=3), a

The external value of `a` is unchanged in this case.

In [ ]:
a

The point here is to be careful with how you define and reuse variable names. In this example, it is more clear that we are using an internal definition of `a`, simply by prefixing the variable name with an underscore (you can also just give it another name, e.g. `b`).

In [ ]:
a = 2


def f(x, _a=2):
    y = _a * x
    return y


f(2, _a=3)

### Functions that return multiple values

A function can return multiple values.

In [ ]:
def f(x):
    even = x % 2 == 0
    return x, even  # This returns a tuple

In [ ]:
f(43)

In [ ]:
6 % 2  # mod operator

In [ ]:
type(f(2))

In [ ]:
f(3)

If you assign the output of the function to a variable, it will be a tuple.

In [ ]:
z = f(3)
z

You can access the elements of the tuple by indexing.

In [ ]:
print(z[0])
print(z[1])

You can also *unpack* the tuple into variable names. Here there are two elements in the output, and we can assign them to two variable names.

In [ ]:
value, even = f(3)
print(value)
print(even)

In [ ]:
def f(x):
    even = x % 2 == 0
    return [x, even]


f(42)

In [ ]:
import numpy as np


def f(x):
    even = x % 2 == 0
    return np.array([x, even])


f(4)

In [ ]:
# Always put a return in the function
def f(x):
    even = x % 2 == 0
    print(x, even)


print(f(3))
z = f(3)
print(z)

In [ ]:
True == 1

In [ ]:
False == 0

You can have the function return any kind of data type. If you just use comma-separated return values, you will return a tuple. If you put them in square brackets, you will return a list. In some cases you will want to return an array. When you write functions, you have to decide what they return, and then use them accordingly. When you use functions that others have written (e.g. from a library), you have to read the documentation to see what arguments are required, and what the function returns.

List looks like [a, b, c]. (square brackets)

tuple looks like (a, b, c) (parentheses)

Arrays are different

In [ ]:
a_list = [1, 2, 3]
a_tuple = (1, 2, 3)
an_Array = np.array([1, 2, 3])

In [ ]:
a_list, a_tuple, an_Array

## Strings

We will use strings a lot to present the output of our work. Suppose Amy has 10 apples, and she gives Bob 3 apples. How many apples does Amy have left?

You could solve it like this:

In [ ]:
7  # not good, where did you get 7?

In [ ]:
10 - 3  # better, but what are 10 and 3?

In [ ]:
print("Amy has", 10 - 3, "apples left")  # better still, now there is context

Or, this more clear code.

In [ ]:
original_count = 10
count_given = 3
apples_remaining = original_count - count_given
print(f"Amy has {apples_remaining} apples left.")

In [ ]:
print(
    f"""Amy had {original_count} apples.
She gave away {count_given}.
She has {apples_remaining} left."""
)

We have used a *formatted string* here. A formatted string looks like f'&#x2026;', and it has elements inside it in curly brackets that are replaced with values from the environment. We can format the values using formatting codes.

The most common use will be formatting floats. If you just print these, you will get a lot of decimal places, more than is commonly needed for engineering problems.

In [ ]:
a = 2 / 3
print(a)

We can print this as a float with only three decimal places like this:

In [ ]:
print(f"a = {a:1.2f}.")

The syntax here for float numbers is {varname:width.decimalsf}. We will usually set the width to 1, and just change the number of decimal places.

There are other ways to format strings in Python, but I will try to only use this method. It is the most readable in my opinion (note: this only works in Python 3. For Python 2, you may have to use one of the other methods.).

You can do some math inside these strings

In [ ]:
volume = 10.0  # L
flowrate = 4.0  # L/s

print(f"The residence time is {volume / flowrate:1.2f} seconds.")

You can also call functions in the formatted strings:

In [ ]:
def f(x):
    return 1 / x


x0 = 21

print(f"The value of 1 / {x0} to 4 decimal places is {f(x0):1.4f}.")

There are many ways to use these, and you should use the method that is most readable.

We will see many examples of this in the class. For complete reference on the formatting codes see [https://docs.python.org/3.6/library/string.html#format-specification-mini-language](https://docs.python.org/3.6/library/string.html#format-specification-mini-language).

### Printing arrays

Arrays are printed in full accuracy by default. This often results in hard to read outputs. Consider this array.

In [ ]:
import numpy as np

x = np.linspace(0, 10, 4) + 1e-15  # add tiny number
x

You cannot use formatted strings on arrays like this:

In [ ]:
print(f"x = {x:1.3f}")

You can use this to print individual elements of the array (you access them with [] indexing). First, we print the first element as a float:

In [ ]:
x[0]

In [ ]:
print(f"x = {x[0]:1.3f}")

And in exponential (Scientific notation):

In [ ]:
print(f"x = {x[0]:1.3e}")

Instead, you can control how arrays are *printed* with this line. Note this does not affect the value of the arrays, just how they are printed. The precision argument specifies how many decimal places, and suppress means do not print very small numbers, e.g. 1e-15 is approximately zero, so print it as zero. Note that this affects printing of all arrays globally.

In [ ]:
np.set_printoptions(precision=3, suppress=True)
x

In [ ]:
np.linspace(0, 1, 4)

It is possible to only *temporarily* affect how this prints with this syntax:

In [ ]:
with np.printoptions(precision=4, suppress=True):
    print(x)
print(x)

Here we just illustrate that x[0] is not zero as printed. If it was, we would get a ZeroDivisionError error here.

In [ ]:
x[0]

In [ ]:
1 / x[0]

In [ ]:
1 / 0

In [ ]:
?np.set_printoptions

In [ ]:
with np.printoptions(threshold=10):
    print(np.linspace(0, 1, 500))

In [ ]:
# Answer to question in class see https://docs.python.org/3/library/string.html
import string

string.ascii_lowercase[0:5]

In [ ]:
# example of a multiline string with triple quotes
"""line1

line2

line3"""

In [ ]:
"""line1

line2

line3"""

## Summary

You should get comfortable with:

-   Creating markdown cells in Jupyter notebooks that express the problem you are solving, and your approach to it.
-   Creating code cells to evaluate Python expressions
-   Defining functions with arguments
-   Printing formatted strings containing your results

Next time:
We will start using functions to solve integrals and differential equations.